# Loading Dataset to Neo4JS

In [51]:
pip install neo4j

Collecting neo4j
  Downloading neo4j-5.28.1-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: pytz in c:\users\asus\anaconda3\lib\site-packages (from neo4j) (2024.1)
Downloading neo4j-5.28.1-py3-none-any.whl (312 kB)
Installing collected packages: neo4j
Successfully installed neo4j-5.28.1
Note: you may need to restart the kernel to use updated packages.

In [53]:
import numpy as np
import pandas as pd
from neo4j import GraphDatabase

In [55]:
#Intergovernmental Panel on Climate Change - IPCC

In [131]:
df = pd.read_excel('IEA_EDGAR_CO2_1970_2023.xlsx',sheet_name="IPCC 2006")

In [58]:
df.info

<bound method DataFrame.info of        IPCC_annex       C_group_IM24_sh Country_code_A3      Name  \
0     Non-Annex_I  Rest Central America             ABW     Aruba
1     Non-Annex_I  Rest Central America             ABW     Aruba
2     Non-Annex_I  Rest Central America             ABW     Aruba
3     Non-Annex_I  Rest Central America             ABW     Aruba
4     Non-Annex_I  Rest Central America             ABW     Aruba
...           ...                   ...             ...       ...
3523  Non-Annex_I       Southern_Africa             ZWE  Zimbabwe
3524  Non-Annex_I       Southern_Africa             ZWE  Zimbabwe
3525  Non-Annex_I       Southern_Africa             ZWE  Zimbabwe
3526  Non-Annex_I       Southern_Africa             ZWE  Zimbabwe
3527  Non-Annex_I       Southern_Africa             ZWE  Zimbabwe

     ipcc_code_2006_for_standard_report  \
0                               1.A.1.a
1                                 1.A.2
2                               1.A.3.a
3                         1.A.3.b_noRES
4                               1.A.3.d
...                                 ...
3523                                2.B
3524                                2.C
3525                                2.D
3526                              3.C.2
3527                              3.C.3

             ipcc_code_2006_for_standard_report_name Substance fossil_bio  \
0      Main Activity Electricity and Heat Production       CO2     fossil
1          Manufacturing Industries and Construction       CO2     fossil
2                                     Civil Aviation       CO2     fossil
3                Road Transportation no resuspension       CO2     fossil
4                             Water-borne Navigation       CO2     fossil
...                                              ...       ...        ...
3523                               Chemical Industry       CO2     fossil
3524                                  Metal Industry       CO2     fossil
3525  Non-Energy Products from Fuels and Solvent Use       CO2     fossil
3526                                          Liming       CO2     fossil
3527                                Urea application       CO2     fossil

           Y_1970       Y_1971  ...      Y_2014      Y_2015      Y_2016  \
0       17.343706    19.877523  ...  222.238026  230.102165  240.807934
1        0.193087     0.221296  ...   22.208463   24.215383   21.728011
2        0.754306     0.864505  ...   18.429354   18.900723   18.986393
3        1.040720     1.192764  ...  126.415252  135.238780  140.177105
4             NaN          NaN  ...    9.191439    9.637073   10.209681
...           ...          ...  ...         ...         ...         ...
3523    92.565000   155.040000  ...   56.100000   58.650000   10.200000
3524  1366.264892  1211.091876  ...  278.343000  150.267000  101.660000
3525    12.880563    13.635093  ...   36.182498   36.901223   37.477567
3526   220.000000   220.000000  ...   69.038095  116.180952  110.419048
3527          NaN          NaN  ...   22.785710    1.885714    6.914284

          Y_2017      Y_2018      Y_2019      Y_2020      Y_2021      Y_2022  \
0     223.432549  226.341226  268.030985  232.923266  253.010310  251.278359
1      33.276726   28.199275   29.319799   26.562462   34.208633   33.974462
2      19.690313   16.584860   25.492941   11.216762   12.473237   17.615120
3     135.429729  136.224966  165.125521  128.398393  143.107436  142.127812
4       9.763253    9.615795   11.382993    9.866186   10.696811   10.876347
...          ...         ...         ...         ...         ...         ...
3523   30.600000   33.150000   10.200000   10.200000   10.200000   10.200000
3524  185.640000  474.500000  404.950000  174.200000  174.200000  174.200000
3525   38.219053   39.198079   39.560728   39.553170   41.440684   42.886474
3526   69.038095   86.219048   62.333333   58.457143   60.761905   50.830476
3527         NaN         NaN         NaN   16.342854   39.599993   46.137134

          Y_2023
0     263.506570
1      35.627795
2      20.659366
3     149.044320
4      12.160220
...          ...
3523         NaN
3524  174.200000
3525   45.285124
3526   42.522323
3527   53.753423

[3528 rows x 62 columns]>

In [61]:
df.head()

,IPCC_annex,C_group_IM24_sh,Country_code_A3,Name,ipcc_code_2006_for_standard_report,ipcc_code_2006_for_standard_report_name,Substance,fossil_bio,Y_1970,Y_1971,...,Y_2014,Y_2015,Y_2016,Y_2017,Y_2018,Y_2019,Y_2020,Y_2021,Y_2022,Y_2023
0,Non-Annex_I,Rest Central America,ABW,Aruba,1.A.1.a,Main Activity Electricity and Heat Production,CO2,fossil,17.343706,19.877523,...,222.238026,230.102165,240.807934,223.432549,226.341226,268.030985,232.923266,253.010310,251.278359,263.506570
1,Non-Annex_I,Rest Central America,ABW,Aruba,1.A.2,Manufacturing Industries and Construction,CO2,fossil,0.193087,0.221296,...,22.208463,24.215383,21.728011,33.276726,28.199275,29.319799,26.562462,34.208633,33.974462,35.627795
2,Non-Annex_I,Rest Central America,ABW,Aruba,1.A.3.a,Civil Aviation,CO2,fossil,0.754306,0.864505,...,18.429354,18.900723,18.986393,19.690313,16.584860,25.492941,11.216762,12.473237,17.615120,20.659366
3,Non-Annex_I,Rest Central America,ABW,Aruba,1.A.3.b_noRES,Road Transportation no resuspension,CO2,fossil,1.040720,1.192764,...,126.415252,135.238780,140.177105,135.429729,136.224966,165.125521,128.398393,143.107436,142.127812,149.044320
4,Non-Annex_I,Rest Central America,ABW,Aruba,1.A.3.d,Water-borne Navigation,CO2,fossil,NaN,NaN,...,9.191439,9.637073,10.209681,9.763253,9.615795,11.382993,9.866186,10.696811,10.876347,12.160220

In [179]:
def connectToDataBases():
    URI = "bolt://localhost:7687"
    AUTH = ("neo4j", "asd123asd123")
    
    driver = GraphDatabase.driver(URI, auth=AUTH)
    return driver

## Data Pre-processing

In [78]:
#Aggregate Data to create tables

In [133]:
df = df.drop(["Substance","fossil_bio"],axis=1)

In [165]:
Country_columns = ["IPCC_annex","C_group_IM24_sh","Country_code_A3","Name"]
Code_columns = ["ipcc_code_2006_for_standard_report","ipcc_code_2006_for_standard_report_name"]
Country = df[Country_columns]
Ipcc_code = df.drop(Country_columns,axis=1)[Code_columns]
Year = df.drop(Country_columns + Code_columns,axis=1)
print(Country.columns)
print(Ipcc_code.columns)
print(Year.columns)

Index(['IPCC_annex', 'C_group_IM24_sh', 'Country_code_A3', 'Name'], dtype='object')
Index(['ipcc_code_2006_for_standard_report', 'ipcc_code_2006_for_standard_report_name'], dtype='object')
Index(['Y_1970', 'Y_1971', 'Y_1972', 'Y_1973', 'Y_1974', 'Y_1975', 'Y_1976',
       'Y_1977', 'Y_1978', 'Y_1979', 'Y_1980', 'Y_1981', 'Y_1982', 'Y_1983',
       'Y_1984', 'Y_1985', 'Y_1986', 'Y_1987', 'Y_1988', 'Y_1989', 'Y_1990',
       'Y_1991', 'Y_1992', 'Y_1993', 'Y_1994', 'Y_1995', 'Y_1996', 'Y_1997',
       'Y_1998', 'Y_1999', 'Y_2000', 'Y_2001', 'Y_2002', 'Y_2003', 'Y_2004',
       'Y_2005', 'Y_2006', 'Y_2007', 'Y_2008', 'Y_2009', 'Y_2010', 'Y_2011',
       'Y_2012', 'Y_2013', 'Y_2014', 'Y_2015', 'Y_2016', 'Y_2017', 'Y_2018',
       'Y_2019', 'Y_2020', 'Y_2021', 'Y_2022', 'Y_2023'],
      dtype='object')

In [167]:
# Handling missing values
Country.fillna('Unknown',inplace=True)
Ipcc_code.fillna('Unknown',inplace=True)
Year.fillna(0,inplace=True)

#remove duplicate records
Country.drop_duplicates(subset=['Name'], keep='first', inplace=True)
Ipcc_code.drop_duplicates(subset=['ipcc_code_2006_for_standard_report'], keep='first', inplace=True)

C:\Users\Asus\AppData\Local\Temp\ipykernel_17556\3133804780.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Country.fillna('Unknown',inplace=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_17556\3133804780.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Country.drop_duplicates(subset=['Name'], keep='first', inplace=True)

In [181]:
def create_node(tx, label, properties):
    query = (
        f"CREATE (n:{label} $props) "
        "RETURN n"
    )
    result = tx.run(query, props=properties)
    return result.single()[0]

In [183]:
driver = connectToDataBases()

In [185]:
with driver.session() as session:
    # Create a Person node
    person = session.execute_write(
        create_node, 
        "Country", 
        {"ipcc_annex": "", "zone": "", "country_code": "","name":""}
    )
driver.close()