In [454]:
import pandas as pd
import numpy as np
import sys
import seaborn as sns
np.set_printoptions(threshold=sys.maxsize)
sns.set() 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.reset_option('future.no_silent_downcasting', True)
import warnings
warnings.filterwarnings('ignore')

In [456]:
data = pd.read_csv("D:\\NCI Docs\\NCI LECS\\Analytics programming and data visualization\\Group project\\owid-energy-data.csv")
data.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,biofuel_share_energy,carbon_intensity_elec,coal_cons_change_pct,coal_cons_change_twh,coal_cons_per_capita,coal_consumption,coal_elec_per_capita,coal_electricity,coal_prod_change_pct,coal_prod_change_twh,coal_prod_per_capita,coal_production,coal_share_elec,coal_share_energy,electricity_demand,electricity_generation,electricity_share_energy,energy_cons_change_pct,energy_cons_change_twh,energy_per_capita,energy_per_gdp,fossil_cons_change_pct,fossil_cons_change_twh,fossil_elec_per_capita,fossil_electricity,fossil_energy_per_capita,fossil_fuel_consumption,fossil_share_elec,fossil_share_energy,gas_cons_change_pct,gas_cons_change_twh,gas_consumption,gas_elec_per_capita,gas_electricity,gas_energy_per_capita,gas_prod_change_pct,gas_prod_change_twh,gas_prod_per_capita,gas_production,gas_share_elec,gas_share_energy,greenhouse_gas_emissions,hydro_cons_change_pct,hydro_cons_change_twh,hydro_consumption,hydro_elec_per_capita,hydro_electricity,hydro_energy_per_capita,hydro_share_elec,hydro_share_energy,low_carbon_cons_change_pct,low_carbon_cons_change_twh,low_carbon_consumption,low_carbon_elec_per_capita,low_carbon_electricity,low_carbon_energy_per_capita,low_carbon_share_elec,low_carbon_share_energy,net_elec_imports,net_elec_imports_share_demand,nuclear_cons_change_pct,nuclear_cons_change_twh,nuclear_consumption,nuclear_elec_per_capita,nuclear_electricity,nuclear_energy_per_capita,nuclear_share_elec,nuclear_share_energy,oil_cons_change_pct,oil_cons_change_twh,oil_consumption,oil_elec_per_capita,oil_electricity,oil_energy_per_capita,oil_prod_change_pct,oil_prod_change_twh,oil_prod_per_capita,oil_production,oil_share_elec,oil_share_energy,other_renewable_consumption,other_renewable_electricity,other_renewable_exc_biofuel_electricity,other_renewables_cons_change_pct,other_renewables_cons_change_twh,other_renewables_elec_per_capita,other_renewables_elec_per_capita_exc_biofuel,other_renewables_energy_per_capita,other_renewables_share_elec,other_renewables_share_elec_exc_biofuel,other_renewables_share_energy,per_capita_electricity,primary_energy_consumption,renewables_cons_change_pct,renewables_cons_change_twh,renewables_consumption,renewables_elec_per_capita,renewables_electricity,renewables_energy_per_capita,renewables_share_elec,renewables_share_energy,solar_cons_change_pct,solar_cons_change_twh,solar_consumption,solar_elec_per_capita,solar_electricity,solar_energy_per_capita,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.87,1.550,NaN,569.557,NaN,NaN,NaN,NaN,NaN,76.03,NaN,NaN,NaN,NaN,20.081,NaN,378.61,378.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305.36,NaN,NaN,80.653,NaN,NaN,NaN,NaN,NaN,164.26,NaN,NaN,NaN,NaN,NaN,43.385,NaN,215.64,NaN,NaN,NaN,NaN,50.45,NaN,13.325,NaN,NaN,NaN,NaN,NaN,73.25,NaN,19.347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,65.07,NaN,NaN,NaN,NaN,NaN,17.187,NaN,NaN,22.80,16.93,NaN,NaN,NaN,NaN,NaN,6.022,4.472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.25,NaN,19.347,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.46,1.596,NaN,567.642,NaN,NaN,NaN,NaN,NaN,86.26,NaN,NaN,NaN,NaN,21.307,NaN,404.85,404.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.66,NaN,NaN,80.934,NaN,NaN,NaN,NaN,NaN,190.41,NaN,NaN,NaN,NaN,NaN,47.032,NaN,229.81,NaN,NaN,NaN,NaN,54.33,NaN,13.420,NaN,NaN,NaN,NaN,NaN,77.19,NaN,19.066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,50.99,NaN,NaN,NaN,NaN,NaN,12.595,NaN,NaN,22.86,16.40,NaN,NaN,NaN,NaN,NaN,5.647,4.051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.19,NaN,19.066,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.62,1.528,NaN,570.212,NaN,NaN,NaN,NaN,NaN,93.43,NaN,NaN,NaN,NaN,21.568,NaN,433.19,433.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,356.67,NaN,NaN,82.336,NaN,NaN,NaN,NaN,NaN,208.92,NaN,NaN,NaN,NaN,NaN,48.228,NaN,247.01,NaN,NaN,NaN,NaN,53.29,NaN,12.302,NaN,NaN,NaN,NaN,NaN,76.52,NaN,17.664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,54.32,NaN,NaN,NaN,NaN,NaN,12.540,NaN,NaN,23.23,16.61,NaN,NaN,NaN,NaN,NaN,5.363,3.834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.52,NaN,17.664,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.45,1.626,NaN,574.699,NaN,NaN,NaN,NaN,NaN,102.01,NaN,NaN,NaN,NaN,22.261,NaN,458.24,458.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,381.84,NaN,NaN,83.328,NaN,NaN,NaN,NaN,NaN,226.51,NaN,NaN,NaN,NaN,NaN,49.430,NaN,263.35,NaN,NaN,NaN,NaN,53.21,NaN,11.612,NaN,NaN,NaN,NaN,NaN,76.40,NaN,16.672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,53.32,NaN,NaN,NaN,NaN,NaN,11.636,NaN,NaN,23.19,15.74,NaN,NaN,NaN,NaN,NaN,5.061,3.435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.40,NaN,16.672,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.40,1.692,NaN,581.420,NaN,NaN,NaN,NaN,NaN,115.01,NaN,NaN,NaN,NaN,23.161,NaN,496.56,496.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,418.60,NaN,NaN,84.300,NaN,NaN,NaN,NaN,NaN,244.16,NaN,NaN,NaN,NaN,NaN,49.170,NaN,288.71,NaN,NaN,NaN,NaN,52.99,NaN,10.671,NaN,NaN,NaN,NaN,NaN,77.96,NaN,15.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,59.43,NaN,NaN,NaN,NaN,NaN,11.968,NaN,NaN,24.97,16.57,NaN,NaN,NaN,NaN,NaN,5.029,3.337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.96,NaN,15.700,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

## Data Pre-processing

In [459]:
data_year = data.groupby("year")

In [461]:
data_year['year'].value_counts()

year
1900    118
1901    118
1902    118
1903    118
1904    118
1905    118
1906    118
1907    118
1908    118
1909    118
1910    118
1911    118
1912    118
1913    118
1914    118
1915    118
1916    118
1917    118
1918    118
1919    118
1920    118
1921    118
1922    118
1923    118
1924    118
1925    118
1926    118
1927    118
1928    118
1929    118
1930    118
1931    118
1932    118
1933    118
1934    118
1935    118
1936    118
1937    118
1938    118
1939    118
1940    118
1941    118
1942    118
1943    118
1944    118
1945    118
1946    118
1947    118
1948    118
1949    118
1950    118
1951    118
1952    118
1953    118
1954    118
1955    118
1956    118
1957    118
1958    118
1959    118
1960    118
1961    118
1962    118
1963    118
1964    118
1965    143
1966    143
1967    143
1968    143
1969    143
1970    143
1971    143
1972    143
1973    143
1974    143
1975    143
1976    143
1977    143
1978    143
1979    143
1980    258
1981    258
1982    258
1983    258
1984    258
1985    264
1986    265
1987    265
1988    265
1989    265
1990    270
1991    268
1992    273
1993    272
1994    273
1995    273
1996    273
1997    274
1998    274
1999    274
2000    287
2001    287
2002    287
2003    288
2004    288
2005    288
2006    287
2007    287
2008    287
2009    287
2010    287
2011    287
2012    288
2013    288
2014    288
2015    288
2016    288
2017    274
2018    274
2019    274
2020    273
2021    273
2022    249
2023    155
Name: count, dtype: int64

#### We will filter the dataset for years and take data recorded in the 21st century into account as due to lack of technology and record keeping facilities the data for earlier years is very scarce.

In [464]:
data_1 = data[data['year'] >= 2000]

In [466]:
data_1.shape

(6659, 129)

In [468]:
data_1.isna().sum()

country                                            0
year                                               0
iso_code                                        1508
population                                      1223
gdp                                             2854
biofuel_cons_change_pct                         5155
biofuel_cons_change_twh                         4868
biofuel_cons_per_capita                         5102
biofuel_consumption                             4848
biofuel_elec_per_capita                         1419
biofuel_electricity                             1155
biofuel_share_elec                              1178
biofuel_share_energy                            4885
carbon_intensity_elec                           1154
coal_cons_change_pct                            4289
coal_cons_change_twh                            4251
coal_cons_per_capita                            4558
coal_consumption                                4246
coal_elec_per_capita                            1459
coal_electricity                                 979
coal_prod_change_pct                            4567
coal_prod_change_twh                            2030
coal_prod_per_capita                            2480
coal_production                                 2026
coal_share_elec                                 1002
coal_share_energy                               4464
electricity_demand                              1126
electricity_generation                           798
electricity_share_energy                        4199
energy_cons_change_pct                           895
energy_cons_change_twh                           793
energy_per_capita                               1461
energy_per_gdp                                  2953
fossil_cons_change_pct                          4322
fossil_cons_change_twh                          4322
fossil_elec_per_capita                          1386
fossil_electricity                               906
fossil_energy_per_capita                        4626
fossil_fuel_consumption                         4314
fossil_share_elec                                934
fossil_share_energy                             4464
gas_cons_change_pct                             4280
gas_cons_change_twh                             4260
gas_consumption                                 4257
gas_elec_per_capita                             1501
gas_electricity                                 1021
gas_energy_per_capita                           4569
gas_prod_change_pct                             4085
gas_prod_change_twh                             1920
gas_prod_per_capita                             2370
gas_production                                  1916
gas_share_elec                                  1044
gas_share_energy                                4464
greenhouse_gas_emissions                        1126
hydro_cons_change_pct                           4403
hydro_cons_change_twh                           4374
hydro_consumption                               4372
hydro_elec_per_capita                           1471
hydro_electricity                                895
hydro_energy_per_capita                         4684
hydro_share_elec                                 918
hydro_share_energy                              4464
low_carbon_cons_change_pct                      4375
low_carbon_cons_change_twh                      4374
low_carbon_consumption                          4372
low_carbon_elec_per_capita                      1375
low_carbon_electricity                           877
low_carbon_energy_per_capita                    4684
low_carbon_share_elec                            905
low_carbon_share_energy                         4464
net_elec_imports                                1414
net_elec_imports_share_demand                   1442
nuclear_cons_change_pct                         5491
nuclear_cons_change_twh                         3621
nuclear_consumption                             3614
nuclear_elec_per_capita                         1426
nuclear_electricity                              927
nuclear_energy_per_capita                       3849
nuclear_share_elec                              1007
nuclear_share_energy                            4542
oil_cons_change_pct                             4189
oil_cons_change_twh                             4189
oil_consumption                                 4189
oil_elec_per_capita                             1391
oil_electricity                                  911
oil_energy_per_capita                           4501
oil_prod_change_pct                             3937
oil_prod_change_twh                             1867
oil_prod_per_capita                             2365
oil_production                                  1863
oil_share_elec                                   934
oil_share_energy                                4464
other_renewable_consumption                     4189
other_renewable_electricity                      863
other_renewable_exc_biofuel_electricity         1719
other_renewables_cons_change_pct                4625
other_renewables_cons_change_twh                4189
other_renewables_elec_per_capita                1439
other_renewables_elec_per_capita_exc_biofuel    1983
other_renewables_energy_per_capita              4501
other_renewables_share_elec                      886
other_renewables_share_elec_exc_biofuel         1742
other_renewables_share_energy                   4464
per_capita_electricity                          1374
primary_energy_consumption                       788
renewables_cons_change_pct                      4375
renewables_cons_change_twh                      4374
renewables_consumption                          4372
renewables_elec_per_capita                      1375
renewables_electricity                           799
renewables_energy_per_capita                    4684
renewables_share_elec                            827
renewables_share_energy                         4464
solar_cons_change_pct                           4752
solar_cons_change_twh                           4202
solar_consumption                               4201
solar_elec_per_capita                           1379
solar_electricity                                803
solar_energy_per_capita                         4513
solar_share_elec                                 826
solar_share_energy                              4476
wind_cons_change_pct                            4663
wind_cons_change_twh                            4189
wind_consumption                                4189
wind_elec_per_capita                            1396
wind_electricity                                 820
wind_energy_per_capita                          4501
wind_share_elec                                  848
wind_share_energy                               4464
dtype: int64

#### From the above output,it can be noticed that many features have a lot of missing values. We will filter the data and include only those featues for which the percentage of missing values is less than 60%

In [471]:
((data_1.isna().sum()/len(data_1)) * 100).sort_values(ascending=False)

nuclear_cons_change_pct                         82.459829
biofuel_cons_change_pct                         77.414026
biofuel_cons_per_capita                         76.618111
biofuel_share_energy                            73.359363
biofuel_cons_change_twh                         73.104070
biofuel_consumption                             72.803724
solar_cons_change_pct                           71.362066
renewables_energy_per_capita                    70.340892
hydro_energy_per_capita                         70.340892
low_carbon_energy_per_capita                    70.340892
wind_cons_change_pct                            70.025529
fossil_energy_per_capita                        69.469890
other_renewables_cons_change_pct                69.454873
gas_energy_per_capita                           68.613906
coal_prod_change_pct                            68.583871
coal_cons_per_capita                            68.448716
nuclear_share_energy                            68.208440
solar_energy_per_capita                         67.772939
oil_energy_per_capita                           67.592732
other_renewables_energy_per_capita              67.592732
wind_energy_per_capita                          67.592732
solar_share_energy                              67.217300
fossil_share_energy                             67.037093
renewables_share_energy                         67.037093
gas_share_energy                                67.037093
hydro_share_energy                              67.037093
other_renewables_share_energy                   67.037093
wind_share_energy                               67.037093
low_carbon_share_energy                         67.037093
coal_share_energy                               67.037093
oil_share_energy                                67.037093
hydro_cons_change_pct                           66.121039
low_carbon_cons_change_pct                      65.700556
renewables_cons_change_pct                      65.700556
renewables_cons_change_twh                      65.685538
hydro_cons_change_twh                           65.685538
low_carbon_cons_change_twh                      65.685538
renewables_consumption                          65.655504
hydro_consumption                               65.655504
low_carbon_consumption                          65.655504
fossil_cons_change_pct                          64.904640
fossil_cons_change_twh                          64.904640
fossil_fuel_consumption                         64.784502
coal_cons_change_pct                            64.409070
gas_cons_change_pct                             64.273915
gas_cons_change_twh                             63.973570
gas_consumption                                 63.928518
coal_cons_change_twh                            63.838414
coal_consumption                                63.763328
solar_cons_change_twh                           63.102568
solar_consumption                               63.087551
electricity_share_energy                        63.057516
other_renewable_consumption                     62.907343
wind_cons_change_twh                            62.907343
oil_cons_change_pct                             62.907343
oil_cons_change_twh                             62.907343
oil_consumption                                 62.907343
other_renewables_cons_change_twh                62.907343
wind_consumption                                62.907343
gas_prod_change_pct                             61.345547
oil_prod_change_pct                             59.122991
nuclear_energy_per_capita                       57.801472
nuclear_cons_change_twh                         54.377534
nuclear_consumption                             54.272413
energy_per_gdp                                  44.345998
gdp                                             42.859288
coal_prod_per_capita                            37.242829
gas_prod_per_capita                             35.590930
oil_prod_per_capita                             35.515843
coal_prod_change_twh                            30.485058
coal_production                                 30.424989
other_renewables_elec_per_capita_exc_biofuel    29.779246
gas_prod_change_twh                             28.833158
gas_production                                  28.773089
oil_prod_change_twh                             28.037243
oil_production                                  27.977174
other_renewables_share_elec_exc_biofuel         26.160084
other_renewable_exc_biofuel_electricity         25.814687
iso_code                                        22.646043
gas_elec_per_capita                             22.540922
hydro_elec_per_capita                           22.090404
energy_per_capita                               21.940231
coal_elec_per_capita                            21.910197
net_elec_imports_share_demand                   21.654903
other_renewables_elec_per_capita                21.609851
nuclear_elec_per_capita                         21.414627
biofuel_elec_per_capita                         21.309506
net_elec_imports                                21.234420
wind_elec_per_capita                            20.964109
oil_elec_per_capita                             20.889022
fossil_elec_per_capita                          20.813936
solar_elec_per_capita                           20.708815
low_carbon_elec_per_capita                      20.648746
renewables_elec_per_capita                      20.648746
per_capita_electricity                          20.633729
population                                      18.366121
biofuel_share_elec                              17.690344
biofuel_electricity                             17.344947
carbon_intensity_elec                           17.329929
electricity_demand                              16.909446
greenhouse_gas_emissions                        16.909446
gas_share_elec                                  15.678030
gas_electricity                                 15.332633
nuclear_share_elec                              15.122391
coal_share_elec                                 15.047304
coal_electricity                                14.701907
oil_share_elec                                  14.026130
fossil_share_elec                               14.026130
nuclear_electricity                             13.921009
hydro_share_elec                                13.785854
oil_electricity                                 13.680733
fossil_electricity                              13.605646
low_carbon_share_elec                           13.590629
energy_cons_change_pct                          13.440457
hydro_electricity                               13.440457
other_renewables_share_elec                     13.305301
low_carbon_electricity                          13.170146
other_renewable_electricity                     12.959904
wind_share_elec                                 12.734645
renewables_share_elec                           12.419282
solar_share_elec                                12.404265
wind_electricity                                12.314161
solar_electricity                               12.058868
renewables_electricity                          11.998799
electricity_generation                          11.983781
energy_cons_change_twh                          11.908695
primary_energy_consumption                      11.833609
year                                             0.000000
country                                          0.000000
dtype: float64

In [473]:
miss_per = (data_1.isna().sum() / len(data_1)) * 100
sel_col = miss_per[miss_per < 60]

In [475]:
data_2 = data_1[sel_col.index]

In [477]:
data_2.head()

,country,year,iso_code,population,gdp,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,carbon_intensity_elec,coal_elec_per_capita,coal_electricity,coal_prod_change_twh,coal_prod_per_capita,coal_production,coal_share_elec,electricity_demand,electricity_generation,energy_cons_change_pct,energy_cons_change_twh,energy_per_capita,energy_per_gdp,fossil_elec_per_capita,fossil_electricity,fossil_share_elec,gas_elec_per_capita,gas_electricity,gas_prod_change_twh,gas_prod_per_capita,gas_production,gas_share_elec,greenhouse_gas_emissions,hydro_elec_per_capita,hydro_electricity,hydro_share_elec,low_carbon_elec_per_capita,low_carbon_electricity,low_carbon_share_elec,net_elec_imports,net_elec_imports_share_demand,nuclear_cons_change_twh,nuclear_consumption,nuclear_elec_per_capita,nuclear_electricity,nuclear_energy_per_capita,nuclear_share_elec,oil_elec_per_capita,oil_electricity,oil_prod_change_pct,oil_prod_change_twh,oil_prod_per_capita,oil_production,oil_share_elec,other_renewable_electricity,other_renewable_exc_biofuel_electricity,other_renewables_elec_per_capita,other_renewables_elec_per_capita_exc_biofuel,other_renewables_share_elec,other_renewables_share_elec_exc_biofuel,per_capita_electricity,primary_energy_consumption,renewables_elec_per_capita,renewables_electricity,renewables_share_elec,solar_elec_per_capita,solar_electricity,solar_share_elec,wind_elec_per_capita,wind_electricity,wind_share_elec
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,5.87,1.550,569.557,NaN,76.03,NaN,NaN,NaN,20.081,378.61,378.61,NaN,NaN,NaN,NaN,NaN,305.36,80.653,NaN,164.26,NaN,NaN,NaN,43.385,215.64,NaN,50.45,13.325,NaN,73.25,19.347,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,65.07,NaN,NaN,NaN,NaN,17.187,22.80,16.93,NaN,NaN,6.022,4.472,NaN,NaN,NaN,73.25,19.347,NaN,0.0,0.0,NaN,0.0,0.0
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,6.46,1.596,567.642,NaN,86.26,NaN,NaN,NaN,21.307,404.85,404.85,NaN,NaN,NaN,NaN,NaN,327.66,80.934,NaN,190.41,NaN,NaN,NaN,47.032,229.81,NaN,54.33,13.420,NaN,77.19,19.066,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,50.99,NaN,NaN,NaN,NaN,12.595,22.86,16.40,NaN,NaN,5.647,4.051,NaN,NaN,NaN,77.19,19.066,NaN,0.0,0.0,NaN,0.0,0.0
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,6.62,1.528,570.212,NaN,93.43,NaN,NaN,NaN,21.568,433.19,433.19,NaN,NaN,NaN,NaN,NaN,356.67,82.336,NaN,208.92,NaN,NaN,NaN,48.228,247.01,NaN,53.29,12.302,NaN,76.52,17.664,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,54.32,NaN,NaN,NaN,NaN,12.540,23.23,16.61,NaN,NaN,5.363,3.834,NaN,NaN,NaN,76.52,17.664,NaN,0.0,0.0,NaN,0.0,0.0
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,7.45,1.626,574.699,NaN,102.01,NaN,NaN,NaN,22.261,458.24,458.24,NaN,NaN,NaN,NaN,NaN,381.84,83.328,NaN,226.51,NaN,NaN,NaN,49.430,263.35,NaN,53.21,11.612,NaN,76.40,16.672,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,53.32,NaN,NaN,NaN,NaN,11.636,23.19,15.74,NaN,NaN,5.061,3.435,NaN,NaN,NaN,76.40,16.672,NaN,0.0,0.0,NaN,0.0,0.0
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,8.40,1.692,581.420,NaN,115.01,NaN,NaN,NaN,23.161,496.56,496.56,NaN,NaN,NaN,NaN,NaN,418.60,84.300,NaN,244.16,NaN,NaN,NaN,49.170,288.71,NaN,52.99,10.671,NaN,77.96,15.700,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,59.43,NaN,NaN,NaN,NaN,11.968,24.97,16.57,NaN,NaN,5.029,3.337,NaN,NaN,NaN,77.96,15.700,NaN,0.0,0.0,NaN,0.0,0.0

In [479]:
data_2.shape

(6659, 69)

In [481]:
# Drop rows(countries) where population count is not available
data_3 = data_2.dropna(subset=['population'])

In [483]:
data_3.shape

(5436, 69)

In [485]:
# Drop rows(countries) where iso_code is not available
data_4 = data_3.dropna(subset=['iso_code'])

In [487]:
data_4.shape

(5118, 69)

In [489]:
data_4['country'] = data_4['country'].str.strip().str.title()

In [491]:
data_4.isnull().sum()

country                                            0
year                                               0
iso_code                                           0
population                                         0
gdp                                             1323
biofuel_elec_per_capita                          179
biofuel_electricity                              179
biofuel_share_elec                               202
carbon_intensity_elec                            178
coal_elec_per_capita                             219
coal_electricity                                 219
coal_prod_change_twh                            1238
coal_prod_per_capita                            1235
coal_production                                 1235
coal_share_elec                                  242
electricity_demand                               150
electricity_generation                           134
energy_cons_change_pct                           310
energy_cons_change_twh                           230
energy_per_capita                                226
energy_per_gdp                                  1422
fossil_elec_per_capita                           146
fossil_electricity                               146
fossil_share_elec                                174
gas_elec_per_capita                              261
gas_electricity                                  261
gas_prod_change_twh                             1135
gas_prod_per_capita                             1132
gas_production                                  1132
gas_share_elec                                   284
greenhouse_gas_emissions                         150
hydro_elec_per_capita                            231
hydro_electricity                                231
hydro_share_elec                                 254
low_carbon_elec_per_capita                       135
low_carbon_electricity                           135
low_carbon_share_elec                            163
net_elec_imports                                 150
net_elec_imports_share_demand                    178
nuclear_cons_change_twh                         2599
nuclear_consumption                             2596
nuclear_elec_per_capita                          186
nuclear_electricity                              186
nuclear_energy_per_capita                       2596
nuclear_share_elec                               265
oil_elec_per_capita                              151
oil_electricity                                  151
oil_prod_change_pct                             3135
oil_prod_change_twh                             1130
oil_prod_per_capita                             1127
oil_production                                  1127
oil_share_elec                                   174
other_renewable_electricity                      199
other_renewable_exc_biofuel_electricity          743
other_renewables_elec_per_capita                 199
other_renewables_elec_per_capita_exc_biofuel     743
other_renewables_share_elec                      222
other_renewables_share_elec_exc_biofuel          766
per_capita_electricity                           134
primary_energy_consumption                       226
renewables_elec_per_capita                       135
renewables_electricity                           135
renewables_share_elec                            163
solar_elec_per_capita                            139
solar_electricity                                139
solar_share_elec                                 162
wind_elec_per_capita                             156
wind_electricity                                 156
wind_share_elec                                  184
dtype: int64

#### Selecting only the features that are important for analysis out of the remaining

In [494]:
df = data_4[['iso_code','country','year','biofuel_elec_per_capita','biofuel_electricity','biofuel_share_elec','carbon_intensity_elec','coal_elec_per_capita','coal_electricity','coal_share_elec','electricity_demand','electricity_generation','per_capita_electricity','fossil_elec_per_capita','fossil_electricity','fossil_share_elec','gas_elec_per_capita','gas_electricity','gas_share_elec','greenhouse_gas_emissions','low_carbon_electricity','low_carbon_elec_per_capita','low_carbon_share_elec','nuclear_elec_per_capita','nuclear_electricity','nuclear_share_elec','oil_elec_per_capita','oil_electricity','oil_share_elec','renewables_elec_per_capita','renewables_electricity','renewables_share_elec']]

In [496]:
df.head()

,iso_code,country,year,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,carbon_intensity_elec,coal_elec_per_capita,coal_electricity,coal_share_elec,electricity_demand,electricity_generation,per_capita_electricity,fossil_elec_per_capita,fossil_electricity,fossil_share_elec,gas_elec_per_capita,gas_electricity,gas_share_elec,greenhouse_gas_emissions,low_carbon_electricity,low_carbon_elec_per_capita,low_carbon_share_elec,nuclear_elec_per_capita,nuclear_electricity,nuclear_share_elec,oil_elec_per_capita,oil_electricity,oil_share_elec,renewables_elec_per_capita,renewables_electricity,renewables_share_elec
124,AFG,Afghanistan,2000,0.0,0.0,0.0,250.000,0.000,0.00,0.000,0.57,0.48,24.561,8.699,0.17,35.417,0.0,0.0,0.0,0.12,0.31,15.862,64.583,0.0,0.0,0.0,8.699,0.17,35.417,15.862,0.31,64.583
125,AFG,Afghanistan,2001,0.0,0.0,0.0,217.391,2.032,0.04,5.797,0.78,0.69,35.046,9.650,0.19,27.536,0.0,0.0,0.0,0.15,0.50,25.395,72.464,0.0,0.0,0.0,7.619,0.15,21.739,25.395,0.50,72.464
126,AFG,Afghanistan,2002,0.0,0.0,0.0,169.014,1.905,0.04,5.634,0.81,0.71,33.809,7.143,0.15,21.127,0.0,0.0,0.0,0.12,0.56,26.666,78.873,0.0,0.0,0.0,5.238,0.11,15.493,26.666,0.56,78.873
127,AFG,Afghanistan,2003,0.0,0.0,0.0,241.758,3.974,0.09,9.890,1.01,0.91,40.185,12.365,0.28,30.769,0.0,0.0,0.0,0.22,0.63,27.821,69.231,0.0,0.0,0.0,8.390,0.19,20.879,27.821,0.63,69.231
128,AFG,Afghanistan,2004,0.0,0.0,0.0,227.848,2.547,0.06,7.595,0.89,0.79,33.541,9.765,0.23,29.114,0.0,0.0,0.0,0.18,0.56,23.776,70.886,0.0,0.0,0.0,7.218,0.17,21.519,23.776,0.56,70.886

In [498]:
df.isnull().sum()

iso_code                        0
country                         0
year                            0
biofuel_elec_per_capita       179
biofuel_electricity           179
biofuel_share_elec            202
carbon_intensity_elec         178
coal_elec_per_capita          219
coal_electricity              219
coal_share_elec               242
electricity_demand            150
electricity_generation        134
per_capita_electricity        134
fossil_elec_per_capita        146
fossil_electricity            146
fossil_share_elec             174
gas_elec_per_capita           261
gas_electricity               261
gas_share_elec                284
greenhouse_gas_emissions      150
low_carbon_electricity        135
low_carbon_elec_per_capita    135
low_carbon_share_elec         163
nuclear_elec_per_capita       186
nuclear_electricity           186
nuclear_share_elec            265
oil_elec_per_capita           151
oil_electricity               151
oil_share_elec                174
renewables_elec_per_capita    135
renewables_electricity        135
renewables_share_elec         163
dtype: int64

In [500]:
df.shape

(5118, 32)

#### Since, the number of missing values in the remaining features is very less as compared to the total number of rows in each column, we can replace the null values by calculating the mean for every year

In [503]:
iso_mapping = df[['country', 'iso_code']].drop_duplicates()

In [505]:
df_grouped = df.groupby(['country','year'], as_index=False).mean(numeric_only=True)

In [507]:
df_grouped.head()

,country,year,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,carbon_intensity_elec,coal_elec_per_capita,coal_electricity,coal_share_elec,electricity_demand,electricity_generation,per_capita_electricity,fossil_elec_per_capita,fossil_electricity,fossil_share_elec,gas_elec_per_capita,gas_electricity,gas_share_elec,greenhouse_gas_emissions,low_carbon_electricity,low_carbon_elec_per_capita,low_carbon_share_elec,nuclear_elec_per_capita,nuclear_electricity,nuclear_share_elec,oil_elec_per_capita,oil_electricity,oil_share_elec,renewables_elec_per_capita,renewables_electricity,renewables_share_elec
0,Afghanistan,2000,0.0,0.0,0.0,250.000,0.000,0.00,0.000,0.57,0.48,24.561,8.699,0.17,35.417,0.0,0.0,0.0,0.12,0.31,15.862,64.583,0.0,0.0,0.0,8.699,0.17,35.417,15.862,0.31,64.583
1,Afghanistan,2001,0.0,0.0,0.0,217.391,2.032,0.04,5.797,0.78,0.69,35.046,9.650,0.19,27.536,0.0,0.0,0.0,0.15,0.50,25.395,72.464,0.0,0.0,0.0,7.619,0.15,21.739,25.395,0.50,72.464
2,Afghanistan,2002,0.0,0.0,0.0,169.014,1.905,0.04,5.634,0.81,0.71,33.809,7.143,0.15,21.127,0.0,0.0,0.0,0.12,0.56,26.666,78.873,0.0,0.0,0.0,5.238,0.11,15.493,26.666,0.56,78.873
3,Afghanistan,2003,0.0,0.0,0.0,241.758,3.974,0.09,9.890,1.01,0.91,40.185,12.365,0.28,30.769,0.0,0.0,0.0,0.22,0.63,27.821,69.231,0.0,0.0,0.0,8.390,0.19,20.879,27.821,0.63,69.231
4,Afghanistan,2004,0.0,0.0,0.0,227.848,2.547,0.06,7.595,0.89,0.79,33.541,9.765,0.23,29.114,0.0,0.0,0.0,0.18,0.56,23.776,70.886,0.0,0.0,0.0,7.218,0.17,21.519,23.776,0.56,70.886

In [509]:
df_final = df_grouped.fillna(df_grouped.mean(numeric_only=True))

In [511]:
df_final = df_grouped.merge(iso_mapping, on='country', how='left')

#### Bringing the iso_code column to the front after the joining

In [514]:
last_col = df_final.columns[-1]

df_final = df_final[[last_col] + list(df_final.columns[:-1])]

In [516]:
df_final.head()

,iso_code,country,year,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,carbon_intensity_elec,coal_elec_per_capita,coal_electricity,coal_share_elec,electricity_demand,electricity_generation,per_capita_electricity,fossil_elec_per_capita,fossil_electricity,fossil_share_elec,gas_elec_per_capita,gas_electricity,gas_share_elec,greenhouse_gas_emissions,low_carbon_electricity,low_carbon_elec_per_capita,low_carbon_share_elec,nuclear_elec_per_capita,nuclear_electricity,nuclear_share_elec,oil_elec_per_capita,oil_electricity,oil_share_elec,renewables_elec_per_capita,renewables_electricity,renewables_share_elec
0,AFG,Afghanistan,2000,0.0,0.0,0.0,250.000,0.000,0.00,0.000,0.57,0.48,24.561,8.699,0.17,35.417,0.0,0.0,0.0,0.12,0.31,15.862,64.583,0.0,0.0,0.0,8.699,0.17,35.417,15.862,0.31,64.583
1,AFG,Afghanistan,2001,0.0,0.0,0.0,217.391,2.032,0.04,5.797,0.78,0.69,35.046,9.650,0.19,27.536,0.0,0.0,0.0,0.15,0.50,25.395,72.464,0.0,0.0,0.0,7.619,0.15,21.739,25.395,0.50,72.464
2,AFG,Afghanistan,2002,0.0,0.0,0.0,169.014,1.905,0.04,5.634,0.81,0.71,33.809,7.143,0.15,21.127,0.0,0.0,0.0,0.12,0.56,26.666,78.873,0.0,0.0,0.0,5.238,0.11,15.493,26.666,0.56,78.873
3,AFG,Afghanistan,2003,0.0,0.0,0.0,241.758,3.974,0.09,9.890,1.01,0.91,40.185,12.365,0.28,30.769,0.0,0.0,0.0,0.22,0.63,27.821,69.231,0.0,0.0,0.0,8.390,0.19,20.879,27.821,0.63,69.231
4,AFG,Afghanistan,2004,0.0,0.0,0.0,227.848,2.547,0.06,7.595,0.89,0.79,33.541,9.765,0.23,29.114,0.0,0.0,0.0,0.18,0.56,23.776,70.886,0.0,0.0,0.0,7.218,0.17,21.519,23.776,0.56,70.886

#### In the original data we had data for continents as well which was dropped (except for Australia as it is both a country as well as a continent) as they had no iso_code mapping. 
#### So, now we will first create a separate dataframe and manually assign iso_codes for the continents Africa, Antarctica, Asia, Europe, North America, South America.

In [519]:
data_cont = data[(data['year'] >= 2000) & (data['country'].isin(['Africa','Antarctica','Asia','Europe','North America','South America']))]

#### Keeping only the selected columns as in the case of the data for countries

In [522]:
data_cont = data_cont[['iso_code','country','year','biofuel_elec_per_capita','biofuel_electricity','biofuel_share_elec','carbon_intensity_elec','coal_elec_per_capita','coal_electricity','coal_share_elec','electricity_demand','electricity_generation','per_capita_electricity','fossil_elec_per_capita','fossil_electricity','fossil_share_elec','gas_elec_per_capita','gas_electricity','gas_share_elec','greenhouse_gas_emissions','low_carbon_electricity','low_carbon_elec_per_capita','low_carbon_share_elec','nuclear_elec_per_capita','nuclear_electricity','nuclear_share_elec','oil_elec_per_capita','oil_electricity','oil_share_elec','renewables_elec_per_capita','renewables_electricity','renewables_share_elec']]

In [524]:
grp = data_cont.groupby('country')

In [526]:
grp.head()

,iso_code,country,year,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,carbon_intensity_elec,coal_elec_per_capita,coal_electricity,coal_share_elec,electricity_demand,electricity_generation,per_capita_electricity,fossil_elec_per_capita,fossil_electricity,fossil_share_elec,gas_elec_per_capita,gas_electricity,gas_share_elec,greenhouse_gas_emissions,low_carbon_electricity,low_carbon_elec_per_capita,low_carbon_share_elec,nuclear_elec_per_capita,nuclear_electricity,nuclear_share_elec,oil_elec_per_capita,oil_electricity,oil_share_elec,renewables_elec_per_capita,renewables_electricity,renewables_share_elec
247,NaN,Africa,2000,2.491,2.04,0.463,621.157,258.281,211.52,47.955,454.15,441.08,538.591,428.071,350.57,79.480,112.155,91.85,20.824,273.98,90.51,110.519,20.520,15.886,13.01,2.950,57.635,47.20,10.701,94.633,77.50,17.571
248,NaN,Africa,2001,2.502,2.10,0.457,619.706,258.165,216.72,47.168,462.61,459.46,547.325,435.313,365.43,79.535,120.291,100.98,21.978,284.73,94.03,112.012,20.465,12.770,10.72,2.333,56.858,47.73,10.388,99.242,83.31,18.132
249,NaN,Africa,2002,2.998,2.58,0.529,617.134,261.163,224.76,46.087,489.33,487.69,566.678,450.470,387.68,79.493,134.741,115.96,23.777,300.97,100.01,116.208,20.507,13.932,11.99,2.459,54.566,46.96,9.629,102.276,88.02,18.048
250,NaN,Africa,2003,2.867,2.53,0.497,625.682,269.462,237.76,46.698,510.48,509.14,577.028,465.360,410.61,80.648,140.534,124.00,24.355,318.56,98.53,111.668,19.352,14.348,12.66,2.487,55.364,48.85,9.595,97.320,85.87,16.866
251,NaN,Africa,2004,2.940,2.66,0.492,623.875,274.829,248.66,46.036,541.50,540.14,596.984,481.619,435.76,80.675,155.905,141.06,26.115,336.98,104.38,115.365,19.325,14.777,13.37,2.475,50.885,46.04,8.524,100.588,91.01,16.849
947,ATA,Antarctica,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
948,ATA,Antarctica,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
949,ATA,Antarctica,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,ATA,Antarctica,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
951,ATA,Antarctica,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1304,NaN,Asia,2000,7.373,27.54,0.573,628.631,564.061,2106.82,43.833,4814.86,4806.46,1286.839,988.889,3693.59,76.846,249.301,931.16,19.373,3021.49,1112.87,297.950,23.154,134.216,501.31,10.430,175.527,655.61,13.640,163.734,611.56,12.724
1305,NaN,Asia,2001,7.606,28.79,0.574,629.984,594.104,2248.81,44.819,5025.56,5017.54,1325.563,1017.189,3850.28,76.736,265.509,1005.01,20.030,3160.97,1167.26,308.374,23.264,134.336,508.49,10.134,157.576,596.46,11.887,174.038,658.77,13.129
1306,NaN,Asia,2002,7.891,30.26,0.566,637.183,640.094,2454.56,45.910,5352.38,5346.49,1394.244,1079.533,4139.67,77.428,278.390,1067.54,19.967,3406.69,1206.82,314.711,22.572,135.938,521.28,9.750,161.048,617.57,11.551,178.773,685.54,12.822
1307,NaN,Asia,2003,8.758,34.01,0.593,656.252,712.577,2767.16,48.217,5740.07,5738.92,1477.842,1173.707,4557.87,79.420,299.567,1163.31,20.271,3766.18,1181.05,304.135,20.580,119.421,463.75,8.081,161.563,627.40,10.932,184.714,717.30,12.499
1308,NaN,Asia,2004,9.132,35.90,0.575,648.983,768.181,3020.03,48.337,6247.69,6247.91,1589.232,1241.544,4881.01,78.122,315.290,1239.53,19.839,4054.79,1366.90,347.688,21.878,135.303,531.93,8.514,158.073,621.45,9.947,212.385,834.97,13.364
6801,NaN,Europe,2000,47.450,34.54,0.793,421.952,1624.732,1182.67,27.160,4345.78,4354.38,5981.972,3260.715,2373.53,54.509,1246.625,907.44,20.840,1837.34,1980.85,2721.257,45.491,1620.390,1179.51,27.088,389.357,283.42,6.509,1100.867,801.34,18.403
6802,NaN,Europe,2001,50.821,36.99,0.834,416.460,1625.530,1183.13,26.662,4434.85,4437.59,6096.907,3291.082,2395.39,53.980,1279.191,931.05,20.981,1848.08,2042.20,2805.825,46.020,1674.675,1218.90,27.468,386.361,281.21,6.337,1131.151,823.30,18.553
6803,NaN,Europe,2002,58.399,42.51,0.951,423.058,1649.423,1200.65,26.865,4469.98,4469.20,6139.676,3385.559,2464.42,55.142,1338.153,974.07,21.795,1890.73,2004.78,2754.117,44.858,1699.415,1237.04,27.679,397.983,289.70,6.482,1054.702,767.74,17.178
6804,NaN,Europe,2003,68.984,50.25,1.100,430.451,1722.717,1254.87,27.461,4570.70,4569.72,6273.425,3528.668,2570.37,56.248,1429.811,1041.51,22.792,1967.04,1999.35,2744.758,43.752,1723.046,1255.11,27.466,376.140,273.99,5.996,1021.711,744.24,16.286
6805,NaN,Europe,2004,83.861,61.15,1.312,418.554,1666.224,1214.98,26.059,4661.98,4662.41,6394.031,3532.439,2575.79,55.246,1525.971,1112.71,23.866,1951.47,2086.62,2861.591,44.754,1737.770,1267.15,27.178,340.244,248.10,5.321,1123.821,819.47,17.576
14130,NaN,North America,2000,161.402,78.50,1.667,526.570,4323.589,2102.84,44.653,4708.13,4709.29,9682.637,6367.406,3096.88,65.761,1438.510,699.64,14.857,2479.77,1612.41,3315.230,34.239,1715.586,834.40,17.718,605.307,294.40,6.251,1599.644,778.01,16.521
14131,NaN,North America,2001,138.081,67.98,1.469,531.030,4144.892,2040.61,44.095,4627.75,4627.80,9399.999,6292.259,3097.80,66.939,1509.143,742.98,16.055,2457.50,1530.00,3107.740,33.061,1734.078,853.72,18.448,638.224,314.21,6.790,1373.662,676.28,14.613
14132,NaN,North America,2002,144.780,72.11,1.513,523.523,4161.748,2072.83,43.492,4766.02,4765.98,9568.948,6330.470,3153.00,66.156,1624.881,809.30,16.981,2495.10,1612.98,3238.479,33.844,1736.332,864.81,18.145,543.842,270.87,5.683,1502.147,748.17,15.698
14133,NaN,North America,2003,142.800,71.92,1.501,530.488,4208.886,2119.77,44.233,4792.23,4792.25,9515.198,6352.692,3199.48,66.764,1551.341,781.32,16.304,2542.23,1592.77,3162.507,33.236,1684.928,848.60,17.708,592.465,298.39,6.227,1477.578,744.17,15.529
14134,NaN,North America,2004,143.518,73.09,1.493,524.674,4138.951,2107.86,43.060,4894.86,4895.14,9611.996,6395.379,3257.00,66.535,1678.605,854.87,17.464,2568.35,1638.14,3216.618,33.465,1742.638,887.48,18.130,577.823,294.27,6.011,1473.981,750.66,15.335
17823,NaN,South America,2000,25.770,9.01,1.282,160.639,68.815,24.06,3.424,701.09,702.63,2009.614,423.128,147.94,21.055,252.521,88.29,12.566,112.87,554.69,1586.486,78.945,34.979,12.23,1.741,101.792,35.59,5.065,1551.507,542.46,77.204
17824,NaN,South America,2001,28.606,10.14,1.479,169.650,58.453,20.72,3.023,685.84,685.41,1933.591,434.586,154.05,22.476,273.559,96.97,14.148,116.28,531.36,1499.005,77.524,60.202,21.34,3.113,102.574,36.36,5.305,1438.803,510.02,74.411
17825,NaN,South America,2002,32.240,11.58,1.636,163.606,53.734,19.30,2.727,708.18,707.80,1970.616,424.081,152.32,21.520,267.862,96.21,13.593,115.80,555.48,1546.535,78.480,54.736,19.66,2.778,102.484,36.81,5.201,1491.799,535.82,75.702
17826,NaN,South America,2003,37.448,13.62,1.836,162.774,54.082,19.67,2.652,740.47,741.64,2039.123,440.851,160.34,21.620,287.320,104.50,14.090,120.72,581.30,1598.271,78.380,57.547,20.93,2.822,99.449,36.17,4.877,1540.725,560.37,75.558
17827,NaN,South America,2004,38.356,14.12,1.795,175.228,64.461,23.73,3.016,787.12,786.69,2137.008,505.641,186.14,23.661,328.338,120.87,15.364,137.85,600.55,1631.367,76.339,52.917,19.48,2.476,112.842,41.54,5.280,1578.450,581.07,73.863

#### From the above results it is evident that negligible amount of data is available for the continent of 'Antarctica'. We can exclude it from our further analysis

In [529]:
data_cont = data_cont.loc[data["country"] != 'Antarctica']

In [531]:
maps = {'Africa':'AFR','Asia':'ASA','Europe':'EUR','North America':'NAE','South America':'SAM'}
data_cont['iso_code'] = data_cont['iso_code'].fillna(data_cont['country'].map(maps))

In [533]:
data_cont.isnull().sum(),data_cont.shape

(iso_code                      0
 country                       0
 year                          0
 biofuel_elec_per_capita       5
 biofuel_electricity           5
 biofuel_share_elec            5
 carbon_intensity_elec         5
 coal_elec_per_capita          5
 coal_electricity              5
 coal_share_elec               5
 electricity_demand            5
 electricity_generation        5
 per_capita_electricity        5
 fossil_elec_per_capita        5
 fossil_electricity            5
 fossil_share_elec             5
 gas_elec_per_capita           5
 gas_electricity               5
 gas_share_elec                5
 greenhouse_gas_emissions      5
 low_carbon_electricity        5
 low_carbon_elec_per_capita    5
 low_carbon_share_elec         5
 nuclear_elec_per_capita       5
 nuclear_electricity           5
 nuclear_share_elec            5
 oil_elec_per_capita           5
 oil_electricity               5
 oil_share_elec                5
 renewables_elec_per_capita    5
 renewables_electricity        5
 renewables_share_elec         5
 dtype: int64,
 (120, 32))

#### Out of the 120 rows only 5 in each energy statistic are null values. Hence, we can replace them with the mean value for that particular year.

In [536]:
iso_mapping_cont = data_cont[['country', 'iso_code']].drop_duplicates()

In [538]:
iso_mapping_cont

             country iso_code
247           Africa      AFR
1304            Asia      ASA
6801          Europe      EUR
14130  North America      NAE
17823  South America      SAM

In [540]:
df_cont_grouped = data_cont.groupby(['country','year'], as_index=False).mean(numeric_only=True)

In [542]:
df_cont_final = df_cont_grouped.fillna(df_cont_grouped.mean(numeric_only=True))

In [544]:
df_cont_final_1 = df_cont_final.merge(iso_mapping_cont, on='country', how='left')

In [546]:
last_col = df_cont_final_1.columns[-1]

df_cont_final_1 = df_cont_final_1[[last_col] + list(df_cont_final_1.columns[:-1])]

In [548]:
df_cont_final_1.head()

,iso_code,country,year,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,carbon_intensity_elec,coal_elec_per_capita,coal_electricity,coal_share_elec,electricity_demand,electricity_generation,per_capita_electricity,fossil_elec_per_capita,fossil_electricity,fossil_share_elec,gas_elec_per_capita,gas_electricity,gas_share_elec,greenhouse_gas_emissions,low_carbon_electricity,low_carbon_elec_per_capita,low_carbon_share_elec,nuclear_elec_per_capita,nuclear_electricity,nuclear_share_elec,oil_elec_per_capita,oil_electricity,oil_share_elec,renewables_elec_per_capita,renewables_electricity,renewables_share_elec
0,AFR,Africa,2000,2.491,2.04,0.463,621.157,258.281,211.52,47.955,454.15,441.08,538.591,428.071,350.57,79.480,112.155,91.85,20.824,273.98,90.51,110.519,20.520,15.886,13.01,2.950,57.635,47.20,10.701,94.633,77.50,17.571
1,AFR,Africa,2001,2.502,2.10,0.457,619.706,258.165,216.72,47.168,462.61,459.46,547.325,435.313,365.43,79.535,120.291,100.98,21.978,284.73,94.03,112.012,20.465,12.770,10.72,2.333,56.858,47.73,10.388,99.242,83.31,18.132
2,AFR,Africa,2002,2.998,2.58,0.529,617.134,261.163,224.76,46.087,489.33,487.69,566.678,450.470,387.68,79.493,134.741,115.96,23.777,300.97,100.01,116.208,20.507,13.932,11.99,2.459,54.566,46.96,9.629,102.276,88.02,18.048
3,AFR,Africa,2003,2.867,2.53,0.497,625.682,269.462,237.76,46.698,510.48,509.14,577.028,465.360,410.61,80.648,140.534,124.00,24.355,318.56,98.53,111.668,19.352,14.348,12.66,2.487,55.364,48.85,9.595,97.320,85.87,16.866
4,AFR,Africa,2004,2.940,2.66,0.492,623.875,274.829,248.66,46.036,541.50,540.14,596.984,481.619,435.76,80.675,155.905,141.06,26.115,336.98,104.38,115.365,19.325,14.777,13.37,2.475,50.885,46.04,8.524,100.588,91.01,16.849

In [550]:
df_cont_final_1.isnull().sum()

iso_code                      0
country                       0
year                          0
biofuel_elec_per_capita       0
biofuel_electricity           0
biofuel_share_elec            0
carbon_intensity_elec         0
coal_elec_per_capita          0
coal_electricity              0
coal_share_elec               0
electricity_demand            0
electricity_generation        0
per_capita_electricity        0
fossil_elec_per_capita        0
fossil_electricity            0
fossil_share_elec             0
gas_elec_per_capita           0
gas_electricity               0
gas_share_elec                0
greenhouse_gas_emissions      0
low_carbon_electricity        0
low_carbon_elec_per_capita    0
low_carbon_share_elec         0
nuclear_elec_per_capita       0
nuclear_electricity           0
nuclear_share_elec            0
oil_elec_per_capita           0
oil_electricity               0
oil_share_elec                0
renewables_elec_per_capita    0
renewables_electricity        0
renewables_share_elec         0
dtype: int64

#### Now, that the required dataframes are ready, we will begin with creating the database in MySQL.
#### First, we will create a database and in it we create a table storing the unique iso_code and country combinations, 2nd table storing country and year wise data and the 3rd table storing the year-wise data for continents.

In [607]:
import mysql.connector

In [609]:
conn = mysql.connector.connect(host="localhost", user="root", password="Anirane15@isro",database="")
cursor = conn.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS energy_database")

print("Database 'energy_database' created successfully!")

# Close connection
cursor.close()
conn.close()

Database 'energy_database' created successfully!

In [611]:
conn = mysql.connector.connect(host="localhost", user="root", password="Anirane15@isro", database="energy_database")
cursor = conn.cursor()
# Creating the table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS ISOCodes (
        iso_code VARCHAR(10) UNIQUE PRIMARY KEY,
        country_cont_name VARCHAR(255) UNIQUE
    )
""")

In [613]:
unique_countries = df_final[['country', 'iso_code']].drop_duplicates()
unique_countries = unique_countries.replace({np.nan: None})
for index, row in unique_countries.iterrows():
    cursor.execute("INSERT IGNORE INTO ISOCodes (country_cont_name, iso_code) VALUES (%s, %s)", (row['country'], row['iso_code']))

In [615]:
conn.commit()

### 1. Creating the data table for year-wise country data

In [618]:
# Creating a table for maintaining the various energy statistics
conn = mysql.connector.connect(host="localhost", user="root", password="Anirane15@isro", database="energy_database")
cursor = conn.cursor()
# Creating the 'country_energy_stats' table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS country_energy_stats (
        iso_code VARCHAR(10),
        year INT NOT NULL,
        biofuel_elec_per_capita FLOAT, biofuel_electricity FLOAT, biofuel_share_elec FLOAT, carbon_intensity_elec FLOAT, coal_elec_per_capita FLOAT, coal_electricity FLOAT, coal_share_elec FLOAT, electricity_demand FLOAT,
        electricity_generation FLOAT, per_capita_electricity FLOAT, fossil_elec_per_capita FLOAT, fossil_electricity FLOAT, fossil_share_elec FLOAT, gas_elec_per_capita FLOAT, gas_electricity FLOAT, gas_share_elec FLOAT, greenhouse_gas_emissions FLOAT, low_carbon_electricity FLOAT, low_carbon_elec_per_capita FLOAT, low_carbon_share_elec FLOAT, nuclear_elec_per_capita FLOAT, nuclear_electricity FLOAT, nuclear_share_elec FLOAT, oil_elec_per_capita FLOAT, oil_electricity FLOAT, oil_share_elec FLOAT, renewables_elec_per_capita FLOAT, renewables_electricity FLOAT, renewables_share_elec FLOAT,
        FOREIGN KEY (iso_code) REFERENCES ISOCodes(iso_code),
        PRIMARY KEY (iso_code, year)
    )
""")

In [620]:
from tqdm import tqdm
def insert_energy_stats_bulk(df, cursor, conn, columns=None, batch_size=500):

    # Default energy columns if not specified
    if columns is None:
        columns = ['iso_code','year','biofuel_elec_per_capita','biofuel_electricity','biofuel_share_elec','carbon_intensity_elec','coal_elec_per_capita','coal_electricity','coal_share_elec','electricity_demand','electricity_generation','per_capita_electricity','fossil_elec_per_capita','fossil_electricity','fossil_share_elec','gas_elec_per_capita','gas_electricity','gas_share_elec','greenhouse_gas_emissions','low_carbon_electricity','low_carbon_elec_per_capita','low_carbon_share_elec','nuclear_elec_per_capita','nuclear_electricity','nuclear_share_elec','oil_elec_per_capita','oil_electricity','oil_share_elec','renewables_elec_per_capita','renewables_electricity','renewables_share_elec']
    
    # Keep only relevant columns
    energy_df = df[columns].copy()
    
    # Drop rows without iso_code or year (essential keys)
    energy_df = energy_df.dropna(subset=['iso_code', 'year'])
    energy_df = energy_df.replace({np.nan: None})
    
    print("Inserting energy stats into database...")

    placeholders = ', '.join(['%s'] * len(columns))
    col_names = ', '.join(columns)
    
    count = 0

    for _, row in tqdm(energy_df.iterrows(), total=len(energy_df)):
        try:
            values = [row[col] for col in columns]
            cursor.execute(f"""
                INSERT INTO country_energy_stats ({col_names})
                VALUES ({placeholders})
            """, values)
            count += 1

            if count % batch_size == 0:
                conn.commit()

        except Exception as e:
            print(f"Error inserting row: {e}")

    conn.commit()
    print(f"Inserted successfully. Total rows inserted: {count}")

In [622]:
sel_cols = ['iso_code','year','biofuel_elec_per_capita','biofuel_electricity','biofuel_share_elec','carbon_intensity_elec','coal_elec_per_capita','coal_electricity','coal_share_elec','electricity_demand','electricity_generation','per_capita_electricity','fossil_elec_per_capita','fossil_electricity','fossil_share_elec','gas_elec_per_capita','gas_electricity','gas_share_elec','greenhouse_gas_emissions','low_carbon_electricity','low_carbon_elec_per_capita','low_carbon_share_elec','nuclear_elec_per_capita','nuclear_electricity','nuclear_share_elec','oil_elec_per_capita','oil_electricity','oil_share_elec','renewables_elec_per_capita','renewables_electricity','renewables_share_elec']
insert_energy_stats_bulk(df_final, cursor, conn, columns=sel_cols)

Inserting energy stats into database...

100%|████████████████████████████████████████████████████████████████████████████| 5118/5118 [00:01<00:00, 3268.28it/s]

Inserted successfully. Total rows inserted: 5118

### 2. Creating the data table for year-wise continents data

In [625]:
# Inserting the ISO mapping created for continents earlier into SQL table ISOCodes (Note: It already exists for Australia so doing only for the other 5.)
conn = mysql.connector.connect(host="localhost", user="root", password="Anirane15@isro", database="energy_database")
cursor = conn.cursor()
# Inserting the values in the isocodes table
cursor.executemany("INSERT IGNORE INTO ISOCodes (country_cont_name, iso_code) VALUES (%s, %s)", [
    ('Africa', 'AFR'),
    ('Asia', 'ASA'),
    ('North America', 'NAE'),
    ('South America', 'SAM'),
    ('Europe', 'EUR')])

In [627]:
conn.commit()

In [629]:
# Creating a table for maintaining the various 'CONTINENTAL' energy statistics
conn = mysql.connector.connect(host="localhost", user="root", password="Anirane15@isro", database="energy_database")
cursor = conn.cursor()
# Creating the 'continent_energy' table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS continent_energy (
        iso_code VARCHAR(10),
        year INT NOT NULL,
        biofuel_elec_per_capita FLOAT, biofuel_electricity FLOAT, biofuel_share_elec FLOAT, carbon_intensity_elec FLOAT, coal_elec_per_capita FLOAT, coal_electricity FLOAT, coal_share_elec FLOAT, electricity_demand FLOAT,
        electricity_generation FLOAT, per_capita_electricity FLOAT, fossil_elec_per_capita FLOAT, fossil_electricity FLOAT, fossil_share_elec FLOAT, gas_elec_per_capita FLOAT, gas_electricity FLOAT, gas_share_elec FLOAT, greenhouse_gas_emissions FLOAT, low_carbon_electricity FLOAT, low_carbon_elec_per_capita FLOAT, low_carbon_share_elec FLOAT, nuclear_elec_per_capita FLOAT, nuclear_electricity FLOAT, nuclear_share_elec FLOAT, oil_elec_per_capita FLOAT, oil_electricity FLOAT, oil_share_elec FLOAT, renewables_elec_per_capita FLOAT, renewables_electricity FLOAT, renewables_share_elec FLOAT,
        FOREIGN KEY (iso_code) REFERENCES ISOCodes(iso_code),
        PRIMARY KEY (iso_code, year)
    )
""")

In [631]:
def insert_cont_energy_stats_bulk(df, cursor, conn, columns=None, batch_size=500):

    # Default energy columns if not specified
    if columns is None:
        columns = ['iso_code','year','biofuel_elec_per_capita','biofuel_electricity','biofuel_share_elec','carbon_intensity_elec','coal_elec_per_capita','coal_electricity','coal_share_elec','electricity_demand','electricity_generation','per_capita_electricity','fossil_elec_per_capita','fossil_electricity','fossil_share_elec','gas_elec_per_capita','gas_electricity','gas_share_elec','greenhouse_gas_emissions','low_carbon_electricity','low_carbon_elec_per_capita','low_carbon_share_elec','nuclear_elec_per_capita','nuclear_electricity','nuclear_share_elec','oil_elec_per_capita','oil_electricity','oil_share_elec','renewables_elec_per_capita','renewables_electricity','renewables_share_elec']
    
    # Keep only relevant columns
    energy_df = df[columns].copy()
    
    # Drop rows without iso_code or year (essential keys)
    energy_df = energy_df.dropna(subset=['iso_code', 'year'])
    energy_df = energy_df.replace({np.nan: None})
    
    print("Inserting energy stats into database...")

    placeholders = ', '.join(['%s'] * len(columns))
    col_names = ', '.join(columns)
    
    count = 0

    for _, row in tqdm(energy_df.iterrows(), total=len(energy_df)):
        try:
            values = [row[col] for col in columns]
            cursor.execute(f"""
                INSERT INTO continent_energy ({col_names})
                VALUES ({placeholders})
            """, values)
            count += 1

            if count % batch_size == 0:
                conn.commit()

        except Exception as e:
            print(f"Error inserting row: {e}")

    conn.commit()
    print(f"Inserted successfully. Total rows inserted: {count}")

In [633]:
sel_cols = ['iso_code','year','biofuel_elec_per_capita','biofuel_electricity','biofuel_share_elec','carbon_intensity_elec','coal_elec_per_capita','coal_electricity','coal_share_elec','electricity_demand','electricity_generation','per_capita_electricity','fossil_elec_per_capita','fossil_electricity','fossil_share_elec','gas_elec_per_capita','gas_electricity','gas_share_elec','greenhouse_gas_emissions','low_carbon_electricity','low_carbon_elec_per_capita','low_carbon_share_elec','nuclear_elec_per_capita','nuclear_electricity','nuclear_share_elec','oil_elec_per_capita','oil_electricity','oil_share_elec','renewables_elec_per_capita','renewables_electricity','renewables_share_elec']
insert_cont_energy_stats_bulk(df_cont_final_1, cursor, conn, columns=sel_cols)

Inserting energy stats into database...

100%|██████████████████████████████████████████████████████████████████████████████| 120/120 [00:00<00:00, 2142.85it/s]

Inserted successfully. Total rows inserted: 120

## With this we have finished creating the MySQL database and inserting all the data.