In [149]:
import pymongo                      # Module for MongoDB access and connection
from pymongo import MongoClient     # python's client for MongoDB
import pandas as pd
import numpy as np
import sys
import warnings
warnings.filterwarnings('ignore')
from dotenv import load_dotenv
from pathlib import Path
from pymongo import MongoClient, ASCENDING
from pymongo.errors import DuplicateKeyError

## Uploading raw data into the MongoDB database

In [152]:
import os
os.path.abspath("")

'C:\\Users\\Aniket\\Documents\\GitHub\\Data-Analytics-And-Visualization\\notebooks\\dataset_02'

In [154]:
dat = pd.read_csv("owid-energy-data.csv")
#dat = pd.read_csv("data/owid-energy-data.csv")

In [156]:
load_dotenv(verbose=True)
env_path = Path('../../') / '.env'

In [158]:
if(load_dotenv(dotenv_path=env_path)):
    uri = os.environ.get("mongo_uri_1")
else:
    print(".env file does not have required values!")

In [160]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
#uri = "mongodb+srv://Aniket:Anirane15isro@cluster0.3ko5x.mongodb.net/?appName=Cluster0"
# Creating a client and connecting to the server
client = MongoClient(uri, server_api=ServerApi('1'))

try:
    client.admin.command('ping')
    print("You successfully connected to MongoDB!")
except Exception as e:
    print(e)

You successfully connected to MongoDB!

In [161]:
db = client.energy_database

In [164]:
def recreate_collection(db,collection_name):
    db[collection_name].drop()
    return db[collection_name]

In [166]:
collection = "raw_energy_stats"
collect = recreate_collection(db,collection)

In [168]:
dat_dict = dat.to_dict("records")

In [169]:
dat_collection = collect.insert_many(dat_dict)

## Calling the data from database for pre-processing

In [173]:
collection = db.raw_energy_stats

In [175]:
data = pd.DataFrame(list(collection.find()))

In [176]:
data.head()

,_id,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,6800f4e42ce869f00873e0da,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,6800f4e42ce869f00873e0db,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,6800f4e42ce869f00873e0dc,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,6800f4e42ce869f00873e0dd,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,6800f4e42ce869f00873e0de,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

In [179]:
data.drop('_id',axis=1,inplace=True)

In [181]:
data.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

## Data Pre-processing

In [184]:
data_year = data.groupby("year")

In [186]:
data_year['year'].value_counts()

year
1900    118
1901    118
1902    118
1903    118
1904    118
       ...
2019    274
2020    273
2021    273
2022    249
2023    155
Name: count, Length: 124, dtype: int64

#### We will filter the dataset for years and take data recorded in the 21st century into account as due to lack of technology and record keeping facilities the data for earlier years is very scarce.

In [189]:
data_1 = data[data['year'] >= 2000]

In [191]:
data_1.shape

(6659, 129)

In [193]:
data_1.isna().sum()

country                      0
year                         0
iso_code                  1508
population                1223
gdp                       2854
                          ...
wind_elec_per_capita      1396
wind_electricity           820
wind_energy_per_capita    4501
wind_share_elec            848
wind_share_energy         4464
Length: 129, dtype: int64

#### From the above output,it can be noticed that many features have a lot of missing values. We will filter the data and include only those featues for which the percentage of missing values is less than 60%.

In [196]:
((data_1.isna().sum()/len(data_1)) * 100).sort_values(ascending=False)

nuclear_cons_change_pct       82.459829
biofuel_cons_change_pct       77.414026
biofuel_cons_per_capita       76.618111
biofuel_share_energy          73.359363
biofuel_cons_change_twh       73.104070
                                ...
electricity_generation        11.983781
energy_cons_change_twh        11.908695
primary_energy_consumption    11.833609
year                           0.000000
country                        0.000000
Length: 129, dtype: float64

In [198]:
miss_per = (data_1.isna().sum() / len(data_1)) * 100
sel_col = miss_per[miss_per < 60]

In [200]:
data_2 = data_1[sel_col.index]

In [202]:
data_2.head()

,country,year,iso_code,population,gdp,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,carbon_intensity_elec,coal_elec_per_capita,...,primary_energy_consumption,renewables_elec_per_capita,renewables_electricity,renewables_share_elec,solar_elec_per_capita,solar_electricity,solar_share_elec,wind_elec_per_capita,wind_electricity,wind_share_elec
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,5.87,1.550,569.557,NaN,...,NaN,NaN,73.25,19.347,NaN,0.0,0.0,NaN,0.0,0.0
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,6.46,1.596,567.642,NaN,...,NaN,NaN,77.19,19.066,NaN,0.0,0.0,NaN,0.0,0.0
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,6.62,1.528,570.212,NaN,...,NaN,NaN,76.52,17.664,NaN,0.0,0.0,NaN,0.0,0.0
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,7.45,1.626,574.699,NaN,...,NaN,NaN,76.40,16.672,NaN,0.0,0.0,NaN,0.0,0.0
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,8.40,1.692,581.420,NaN,...,NaN,NaN,77.96,15.700,NaN,0.0,0.0,NaN,0.0,0.0

In [204]:
data_2.shape

(6659, 69)

In [206]:
# Drop rows(countries) where population count is not available
data_3 = data_2.dropna(subset=['population'])

In [208]:
# Drop rows(countries) where iso_code is not available
data_4 = data_3.dropna(subset=['iso_code'])

In [210]:
data_4.shape

(5118, 69)

In [212]:
data_4['country'] = data_4['country'].str.strip().str.title()

In [214]:
data_4.isnull().sum()

country                    0
year                       0
iso_code                   0
population                 0
gdp                     1323
                        ...
solar_electricity        139
solar_share_elec         162
wind_elec_per_capita     156
wind_electricity         156
wind_share_elec          184
Length: 69, dtype: int64

#### Selecting only the features that are important for analysis out of the remaining.

In [217]:
df = data_4[['iso_code','country','year','population','biofuel_elec_per_capita','biofuel_electricity','biofuel_share_elec','carbon_intensity_elec','coal_elec_per_capita','coal_electricity','coal_share_elec','electricity_demand','electricity_generation','per_capita_electricity','fossil_elec_per_capita','fossil_electricity','fossil_share_elec','gas_elec_per_capita','gas_electricity','gas_share_elec','greenhouse_gas_emissions','low_carbon_electricity','low_carbon_elec_per_capita','low_carbon_share_elec','nuclear_elec_per_capita','nuclear_electricity','nuclear_share_elec','oil_elec_per_capita','oil_electricity','oil_share_elec','renewables_elec_per_capita','renewables_electricity','renewables_share_elec']]

In [219]:
df.head()

,iso_code,country,year,population,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,carbon_intensity_elec,coal_elec_per_capita,coal_electricity,...,low_carbon_share_elec,nuclear_elec_per_capita,nuclear_electricity,nuclear_share_elec,oil_elec_per_capita,oil_electricity,oil_share_elec,renewables_elec_per_capita,renewables_electricity,renewables_share_elec
124,AFG,Afghanistan,2000,19542986.0,0.0,0.0,0.0,250.000,0.000,0.00,...,64.583,0.0,0.0,0.0,8.699,0.17,35.417,15.862,0.31,64.583
125,AFG,Afghanistan,2001,19688634.0,0.0,0.0,0.0,217.391,2.032,0.04,...,72.464,0.0,0.0,0.0,7.619,0.15,21.739,25.395,0.50,72.464
126,AFG,Afghanistan,2002,21000258.0,0.0,0.0,0.0,169.014,1.905,0.04,...,78.873,0.0,0.0,0.0,5.238,0.11,15.493,26.666,0.56,78.873
127,AFG,Afghanistan,2003,22645136.0,0.0,0.0,0.0,241.758,3.974,0.09,...,69.231,0.0,0.0,0.0,8.390,0.19,20.879,27.821,0.63,69.231
128,AFG,Afghanistan,2004,23553554.0,0.0,0.0,0.0,227.848,2.547,0.06,...,70.886,0.0,0.0,0.0,7.218,0.17,21.519,23.776,0.56,70.886

In [221]:
df.isnull().sum()

iso_code                        0
country                         0
year                            0
population                      0
biofuel_elec_per_capita       179
biofuel_electricity           179
biofuel_share_elec            202
carbon_intensity_elec         178
coal_elec_per_capita          219
coal_electricity              219
coal_share_elec               242
electricity_demand            150
electricity_generation        134
per_capita_electricity        134
fossil_elec_per_capita        146
fossil_electricity            146
fossil_share_elec             174
gas_elec_per_capita           261
gas_electricity               261
gas_share_elec                284
greenhouse_gas_emissions      150
low_carbon_electricity        135
low_carbon_elec_per_capita    135
low_carbon_share_elec         163
nuclear_elec_per_capita       186
nuclear_electricity           186
nuclear_share_elec            265
oil_elec_per_capita           151
oil_electricity               151
oil_share_elec                174
renewables_elec_per_capita    135
renewables_electricity        135
renewables_share_elec         163
dtype: int64

In [223]:
df.shape

(5118, 33)

#### Since, the number of missing values in the remaining features is very less as compared to the total number of rows in each column, we can replace the null values by calculating the country means.

In [226]:
iso_mapping = df[['country', 'iso_code']].drop_duplicates()

In [228]:
energy_cols = df.columns.difference(['iso_code','country','year'])
energy_cols

Index(['biofuel_elec_per_capita', 'biofuel_electricity', 'biofuel_share_elec',
       'carbon_intensity_elec', 'coal_elec_per_capita', 'coal_electricity',
       'coal_share_elec', 'electricity_demand', 'electricity_generation',
       'fossil_elec_per_capita', 'fossil_electricity', 'fossil_share_elec',
       'gas_elec_per_capita', 'gas_electricity', 'gas_share_elec',
       'greenhouse_gas_emissions', 'low_carbon_elec_per_capita',
       'low_carbon_electricity', 'low_carbon_share_elec',
       'nuclear_elec_per_capita', 'nuclear_electricity', 'nuclear_share_elec',
       'oil_elec_per_capita', 'oil_electricity', 'oil_share_elec',
       'per_capita_electricity', 'population', 'renewables_elec_per_capita',
       'renewables_electricity', 'renewables_share_elec'],
      dtype='object')

In [230]:
df_final = df.copy()
for col in energy_cols:
    df_final[col] = df.groupby('country')[col].transform(lambda x:x.fillna(x.interpolate()))

In [231]:
df_final.head()

,iso_code,country,year,population,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,carbon_intensity_elec,coal_elec_per_capita,coal_electricity,...,low_carbon_share_elec,nuclear_elec_per_capita,nuclear_electricity,nuclear_share_elec,oil_elec_per_capita,oil_electricity,oil_share_elec,renewables_elec_per_capita,renewables_electricity,renewables_share_elec
124,AFG,Afghanistan,2000,19542986.0,0.0,0.0,0.0,250.000,0.000,0.00,...,64.583,0.0,0.0,0.0,8.699,0.17,35.417,15.862,0.31,64.583
125,AFG,Afghanistan,2001,19688634.0,0.0,0.0,0.0,217.391,2.032,0.04,...,72.464,0.0,0.0,0.0,7.619,0.15,21.739,25.395,0.50,72.464
126,AFG,Afghanistan,2002,21000258.0,0.0,0.0,0.0,169.014,1.905,0.04,...,78.873,0.0,0.0,0.0,5.238,0.11,15.493,26.666,0.56,78.873
127,AFG,Afghanistan,2003,22645136.0,0.0,0.0,0.0,241.758,3.974,0.09,...,69.231,0.0,0.0,0.0,8.390,0.19,20.879,27.821,0.63,69.231
128,AFG,Afghanistan,2004,23553554.0,0.0,0.0,0.0,227.848,2.547,0.06,...,70.886,0.0,0.0,0.0,7.218,0.17,21.519,23.776,0.56,70.886

In [234]:
df_final.isnull().sum()

iso_code                        0
country                         0
year                            0
population                      0
biofuel_elec_per_capita       130
biofuel_electricity           130
biofuel_share_elec            153
carbon_intensity_elec         129
coal_elec_per_capita          174
coal_electricity              174
coal_share_elec               197
electricity_demand            101
electricity_generation        101
per_capita_electricity        101
fossil_elec_per_capita        101
fossil_electricity            101
fossil_share_elec             129
gas_elec_per_capita           216
gas_electricity               216
gas_share_elec                239
greenhouse_gas_emissions      101
low_carbon_electricity        101
low_carbon_elec_per_capita    101
low_carbon_share_elec         129
nuclear_elec_per_capita       173
nuclear_electricity           173
nuclear_share_elec            231
oil_elec_per_capita           106
oil_electricity               106
oil_share_elec                129
renewables_elec_per_capita    101
renewables_electricity        101
renewables_share_elec         129
dtype: int64

#### We will replace the remaining missing values with the yearly means.

In [237]:
for col in energy_cols:
    df_final[col] = df.groupby('year')[col].transform(lambda x:x.fillna(x.mean()))

In [239]:
df_final.isnull().sum()

iso_code                      0
country                       0
year                          0
population                    0
biofuel_elec_per_capita       0
biofuel_electricity           0
biofuel_share_elec            0
carbon_intensity_elec         0
coal_elec_per_capita          0
coal_electricity              0
coal_share_elec               0
electricity_demand            0
electricity_generation        0
per_capita_electricity        0
fossil_elec_per_capita        0
fossil_electricity            0
fossil_share_elec             0
gas_elec_per_capita           0
gas_electricity               0
gas_share_elec                0
greenhouse_gas_emissions      0
low_carbon_electricity        0
low_carbon_elec_per_capita    0
low_carbon_share_elec         0
nuclear_elec_per_capita       0
nuclear_electricity           0
nuclear_share_elec            0
oil_elec_per_capita           0
oil_electricity               0
oil_share_elec                0
renewables_elec_per_capita    0
renewables_electricity        0
renewables_share_elec         0
dtype: int64

#### With this the country dataframe is ready.

#### In the original data, we had data for continents as well which was dropped (except for Australia as it is both a country as well as a continent) as they had no iso_code mapping. 
#### So, now we will first create a separate dataframe and manually assign iso_codes for the continents Africa, Antarctica, Asia, Europe, North America, South America.

In [242]:
data_cont = data[(data['year'] >= 2000) & (data['country'].isin(['Africa','Antarctica','Asia','Europe','North America','South America']))]

#### Keeping only the selected columns as in the case of the data for countries.

In [245]:
data_cont = data_cont[['iso_code','country','year','population','biofuel_elec_per_capita','biofuel_electricity','biofuel_share_elec','carbon_intensity_elec','coal_elec_per_capita','coal_electricity','coal_share_elec','electricity_demand','electricity_generation','per_capita_electricity','fossil_elec_per_capita','fossil_electricity','fossil_share_elec','gas_elec_per_capita','gas_electricity','gas_share_elec','greenhouse_gas_emissions','low_carbon_electricity','low_carbon_elec_per_capita','low_carbon_share_elec','nuclear_elec_per_capita','nuclear_electricity','nuclear_share_elec','oil_elec_per_capita','oil_electricity','oil_share_elec','renewables_elec_per_capita','renewables_electricity','renewables_share_elec']]

In [247]:
grp = data_cont.groupby('country')

In [249]:
grp.head()

,iso_code,country,year,population,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,carbon_intensity_elec,coal_elec_per_capita,coal_electricity,...,low_carbon_share_elec,nuclear_elec_per_capita,nuclear_electricity,nuclear_share_elec,oil_elec_per_capita,oil_electricity,oil_share_elec,renewables_elec_per_capita,renewables_electricity,renewables_share_elec
247,NaN,Africa,2000,8.189524e+08,2.491,2.04,0.463,621.157,258.281,211.52,...,20.520,15.886,13.01,2.950,57.635,47.20,10.701,94.633,77.50,17.571
248,NaN,Africa,2001,8.394641e+08,2.502,2.10,0.457,619.706,258.165,216.72,...,20.465,12.770,10.72,2.333,56.858,47.73,10.388,99.242,83.31,18.132
249,NaN,Africa,2002,8.606118e+08,2.998,2.58,0.529,617.134,261.163,224.76,...,20.507,13.932,11.99,2.459,54.566,46.96,9.629,102.276,88.02,18.048
250,NaN,Africa,2003,8.823496e+08,2.867,2.53,0.497,625.682,269.462,237.76,...,19.352,14.348,12.66,2.487,55.364,48.85,9.595,97.320,85.87,16.866
251,NaN,Africa,2004,9.047816e+08,2.940,2.66,0.492,623.875,274.829,248.66,...,19.325,14.777,13.37,2.475,50.885,46.04,8.524,100.588,91.01,16.849
947,ATA,Antarctica,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
948,ATA,Antarctica,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
949,ATA,Antarctica,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,ATA,Antarctica,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
951,ATA,Antarctica,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1304,NaN,Asia,2000,3.735090e+09,7.373,27.54,0.573,628.631,564.061,2106.82,...,23.154,134.216,501.31,10.430,175.527,655.61,13.640,163.734,611.56,12.724
1305,NaN,Asia,2001,3.785215e+09,7.606,28.79,0.574,629.984,594.104,2248.81,...,23.264,134.336,508.49,10.134,157.576,596.46,11.887,174.038,658.77,13.129
1306,NaN,Asia,2002,3.834687e+09,7.891,30.26,0.566,637.183,640.094,2454.56,...,22.572,135.938,521.28,9.750,161.048,617.57,11.551,178.773,685.54,12.822
1307,NaN,Asia,2003,3.883311e+09,8.758,34.01,0.593,656.252,712.577,2767.16,...,20.580,119.421,463.75,8.081,161.563,627.40,10.932,184.714,717.30,12.499
1308,NaN,Asia,2004,3.931403e+09,9.132,35.90,0.575,648.983,768.181,3020.03,...,21.878,135.303,531.93,8.514,158.073,621.45,9.947,212.385,834.97,13.364
6801,NaN,Europe,2000,7.279172e+08,47.450,34.54,0.793,421.952,1624.732,1182.67,...,45.491,1620.390,1179.51,27.088,389.357,283.42,6.509,1100.867,801.34,18.403
6802,NaN,Europe,2001,7.278428e+08,50.821,36.99,0.834,416.460,1625.530,1183.13,...,46.020,1674.675,1218.90,27.468,386.361,281.21,6.337,1131.151,823.30,18.553
6803,NaN,Europe,2002,7.279212e+08,58.399,42.51,0.951,423.058,1649.423,1200.65,...,44.858,1699.415,1237.04,27.679,397.983,289.70,6.482,1054.702,767.74,17.178
6804,NaN,Europe,2003,7.284250e+08,68.984,50.25,1.100,430.451,1722.717,1254.87,...,43.752,1723.046,1255.11,27.466,376.140,273.99,5.996,1021.711,744.24,16.286
6805,NaN,Europe,2004,7.291816e+08,83.861,61.15,1.312,418.554,1666.224,1214.98,...,44.754,1737.770,1267.15,27.178,340.244,248.10,5.321,1123.821,819.47,17.576
14130,NaN,North America,2000,4.863644e+08,161.402,78.50,1.667,526.570,4323.589,2102.84,...,34.239,1715.586,834.40,17.718,605.307,294.40,6.251,1599.644,778.01,16.521
14131,NaN,North America,2001,4.923192e+08,138.081,67.98,1.469,531.030,4144.892,2040.61,...,33.061,1734.078,853.72,18.448,638.224,314.21,6.790,1373.662,676.28,14.613
14132,NaN,North America,2002,4.980672e+08,144.780,72.11,1.513,523.523,4161.748,2072.83,...,33.844,1736.332,864.81,18.145,543.842,270.87,5.683,1502.147,748.17,15.698
14133,NaN,North America,2003,5.036416e+08,142.800,71.92,1.501,530.488,4208.886,2119.77,...,33.236,1684.928,848.60,17.708,592.465,298.39,6.227,1477.578,744.17,15.529
14134,NaN,North America,2004,5.092740e+08,143.518,73.09,1.493,524.674,4138.951,2107.86,...,33.465,1742.638,887.48,18.130,577.823,294.27,6.011,1473.981,750.66,15.335
17823,NaN,South America,2000,3.496343e+08,25.770,9.01,1.282,160.639,68.815,24.06,...,78.945,34.979,12.23,1.741,101.792,35.59,5.065,1551.507,542.46,77.204
17824,NaN,South America,2001,3.544752e+08,28.606,10.14,1.479,169.650,58.453,20.72,...,77.524,60.202,21.34,3.113,102.574,36.36,5.305,1438.803,510.02,74.411
17825,NaN,South America,2002,3.591771e+08,32.240,11.58,1.636,163.606,53.734,19.30,...,78.480,54.736,19.66,2.778,102.484,36.81,5.201,1491.799,535.82,75.702
17826,NaN,South America,2003,3.637054e+08,37.448,13.62,1.836,162.774,54.082,19.67,...,78.380,57.547,20.93,2.822,99.449,36.17,4.877,1540.725,560.37,75.558
17827,NaN,South America,2004,3.681269e+08,38.356,14.12,1.795,175.228,64.461,23.73,...,76.339,52.917,19.48,2.476,112.842,41.54,5.280,1578.450,581.07,73.863

#### From the above results it is evident that negligible amount of data is available for the continent of 'Antarctica'. We can exclude it from our further analysis.

In [252]:
data_cont = data_cont.loc[data["country"] != 'Antarctica']

In [254]:
maps = {'Africa':'AFR','Asia':'ASA','Europe':'EUR','North America':'NAE','South America':'SAM'}
data_cont['iso_code'] = data_cont['iso_code'].fillna(data_cont['country'].map(maps))

In [256]:
data_cont.isnull().sum(),data_cont.shape

(iso_code                      0
 country                       0
 year                          0
 population                    0
 biofuel_elec_per_capita       5
 biofuel_electricity           5
 biofuel_share_elec            5
 carbon_intensity_elec         5
 coal_elec_per_capita          5
 coal_electricity              5
 coal_share_elec               5
 electricity_demand            5
 electricity_generation        5
 per_capita_electricity        5
 fossil_elec_per_capita        5
 fossil_electricity            5
 fossil_share_elec             5
 gas_elec_per_capita           5
 gas_electricity               5
 gas_share_elec                5
 greenhouse_gas_emissions      5
 low_carbon_electricity        5
 low_carbon_elec_per_capita    5
 low_carbon_share_elec         5
 nuclear_elec_per_capita       5
 nuclear_electricity           5
 nuclear_share_elec            5
 oil_elec_per_capita           5
 oil_electricity               5
 oil_share_elec                5
 renewables_elec_per_capita    5
 renewables_electricity        5
 renewables_share_elec         5
 dtype: int64,
 (120, 33))

#### Out of the 120 rows only 5 in each energy statistic are null values. Hence, we can replace them with the mean value for that particular country.

In [259]:
iso_mapping_cont = data_cont[['country', 'iso_code']].drop_duplicates()

In [261]:
iso_mapping_cont

             country iso_code
247           Africa      AFR
1304            Asia      ASA
6801          Europe      EUR
14130  North America      NAE
17823  South America      SAM

In [263]:
energy_cols_cont = data_cont.columns.difference(['iso_code','country','year'])
energy_cols_cont

Index(['biofuel_elec_per_capita', 'biofuel_electricity', 'biofuel_share_elec',
       'carbon_intensity_elec', 'coal_elec_per_capita', 'coal_electricity',
       'coal_share_elec', 'electricity_demand', 'electricity_generation',
       'fossil_elec_per_capita', 'fossil_electricity', 'fossil_share_elec',
       'gas_elec_per_capita', 'gas_electricity', 'gas_share_elec',
       'greenhouse_gas_emissions', 'low_carbon_elec_per_capita',
       'low_carbon_electricity', 'low_carbon_share_elec',
       'nuclear_elec_per_capita', 'nuclear_electricity', 'nuclear_share_elec',
       'oil_elec_per_capita', 'oil_electricity', 'oil_share_elec',
       'per_capita_electricity', 'population', 'renewables_elec_per_capita',
       'renewables_electricity', 'renewables_share_elec'],
      dtype='object')

In [265]:
data_cont_final = data_cont.copy()
for col in energy_cols_cont:
    data_cont_final[col] = data_cont.groupby('country')[col].transform(lambda x: x.fillna(x.interpolate()))

In [267]:
data_cont_final.isnull().sum()

iso_code                      0
country                       0
year                          0
population                    0
biofuel_elec_per_capita       0
biofuel_electricity           0
biofuel_share_elec            0
carbon_intensity_elec         0
coal_elec_per_capita          0
coal_electricity              0
coal_share_elec               0
electricity_demand            0
electricity_generation        0
per_capita_electricity        0
fossil_elec_per_capita        0
fossil_electricity            0
fossil_share_elec             0
gas_elec_per_capita           0
gas_electricity               0
gas_share_elec                0
greenhouse_gas_emissions      0
low_carbon_electricity        0
low_carbon_elec_per_capita    0
low_carbon_share_elec         0
nuclear_elec_per_capita       0
nuclear_electricity           0
nuclear_share_elec            0
oil_elec_per_capita           0
oil_electricity               0
oil_share_elec                0
renewables_elec_per_capita    0
renewables_electricity        0
renewables_share_elec         0
dtype: int64

#### Now, the required dataframes are ready. So, we will begin with adding the collections for the same in the Mongo database created earlier.

#### Creating a collection storing unique ISO_Code and Country combinations in MongoDB.

#### For this we will first merge the dataframes storing the unique values.

In [271]:
frames = [iso_mapping,iso_mapping_cont]
df_iso = pd.concat(frames,axis=0)

In [273]:
df_iso.head()

            country iso_code
124     Afghanistan      AFG
613         Albania      ALB
736         Algeria      DZA
780  American Samoa      ASM
903          Angola      AGO

In [275]:
collection = "ISOCodes"
collect = recreate_collection(db,collection)

In [277]:
dat_dict = df_iso.to_dict("records")

In [281]:
dat_collection = collect.insert_many(dat_dict)

#### Check if the data has been stored or not by retrieving some records.

In [286]:
data=collect.find({
    'iso_code':'AFR'
})
for i in data:                         # retrieving some of the data stored having iso_code as IND
    print(i)

{'_id': ObjectId('6800f5692ce869f0087436e9'), 'country': 'Africa', 'iso_code': 'AFR'}

## Creating a database collection for year-wise country data

In [289]:
collection = "country_energy_stats"
collect = recreate_collection(db,collection)

In [291]:
data_dict = df_final.to_dict("records")

In [293]:
data_collection = collect.insert_many(data_dict)

#### Now, we will check if the data has been stored or not by retrieving some records.

In [296]:
data=collect.find({
    'iso_code':'IND',
    'year':2000
})
for i in data:                         # retrieving some of the data stored having iso_code as IND
    print(i)

{'_id': ObjectId('6800f59f2ce869f008743f4d'), 'iso_code': 'IND', 'country': 'India', 'year': 2000, 'population': 1059633664.0, 'biofuel_elec_per_capita': 1.595, 'biofuel_electricity': 1.69, 'biofuel_share_elec': 0.296, 'carbon_intensity_elec': 740.037, 'coal_elec_per_capita': 368.269, 'coal_electricity': 390.23, 'coal_share_elec': 68.295, 'electricity_demand': 572.69, 'electricity_generation': 571.39, 'per_capita_electricity': 539.234, 'fossil_elec_per_capita': 448.598, 'fossil_electricity': 475.35, 'fossil_share_elec': 83.192, 'gas_elec_per_capita': 52.811, 'gas_electricity': 55.96, 'gas_share_elec': 9.794, 'greenhouse_gas_emissions': 422.85, 'low_carbon_electricity': 96.04, 'low_carbon_elec_per_capita': 90.635, 'low_carbon_share_elec': 16.808, 'nuclear_elec_per_capita': 14.883, 'nuclear_electricity': 15.77, 'nuclear_share_elec': 2.76, 'oil_elec_per_capita': 27.519, 'oil_electricity': 29.16, 'oil_share_elec': 5.103, 'renewables_elec_per_capita': 75.753, 'renewables_electricity': 80.27, 'renewables_share_elec': 14.048}

#### So, the data has been successfully inserted into the created database and respective collection

#### Now, we will follow the same steps for continent year-wise data

In [299]:
collection = "continent_energy"
collect = recreate_collection(db,collection)

In [301]:
data_dict_1 = data_cont_final.to_dict("records")

In [303]:
data_collection_1 = collect.insert_many(data_dict_1)

#### Now, we will check if the data has been stored or not by retrieving some records from the 2nd collection of continents and their energy stats.

In [306]:
data_1=collect.find({
    'iso_code':'EUR',
    'year':2005
})
for i in data_1:                         # retrieving some the data stored having iso_code as EUR
    print(i)

{'_id': ObjectId('6800f5bb2ce869f008744b21'), 'iso_code': 'EUR', 'country': 'Europe', 'year': 2005, 'population': 729987229.0, 'biofuel_elec_per_capita': 97.399, 'biofuel_electricity': 71.1, 'biofuel_share_elec': 1.502, 'carbon_intensity_elec': 416.359, 'coal_elec_per_capita': 1644.207, 'coal_electricity': 1200.25, 'coal_share_elec': 25.36, 'electricity_demand': 4730.06, 'electricity_generation': 4732.94, 'per_capita_electricity': 6483.593, 'fossil_elec_per_capita': 3593.337, 'fossil_electricity': 2623.09, 'fossil_share_elec': 55.422, 'gas_elec_per_capita': 1611.754, 'gas_electricity': 1176.56, 'gas_share_elec': 24.859, 'greenhouse_gas_emissions': 1970.6, 'low_carbon_electricity': 2109.85, 'low_carbon_elec_per_capita': 2890.256, 'low_carbon_share_elec': 44.578, 'nuclear_elec_per_capita': 1725.03, 'nuclear_electricity': 1259.25, 'nuclear_share_elec': 26.606, 'oil_elec_per_capita': 337.376, 'oil_electricity': 246.28, 'oil_share_elec': 5.204, 'renewables_elec_per_capita': 1165.226, 'renewables_electricity': 850.6, 'renewables_share_elec': 17.972}

## Here, we have completed the process of creating a MongoDB database consisting of both the raw and pre-processed data storing them in the respective collections.